version: '3.8'

services:
  tivitwitch:
    build: .
    restart: unless-stopped
    ports:
      - "${APP_PORT:-8998}:8000"
    environment:
      - HOST_URL=${HOST_URL}
    volumes:
      - tivitwitch_data:/app/instance
    dns:
      - 8.8.8.8
      - 1.1.1.1

volumes:
  tivitwitch_data: