<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container login-container">
        <h1>Set New Password</h1>

        <form method="POST">
            <input type="password" name="password" placeholder="New Password" required autofocus>
            <button type="submit">Update Password</button>
        </form>
    </div>
</body>

</html>